<!DOCTYPE html>
<html>
<head>
    <title>Contact Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Contact Information &#128222;</h1>
    <div class="contacts-container">
        <ul>
            <li><strong>Email:</strong> ppaulean15@gmail.com</li>
            <li><strong>Contact Number:</strong> 0956-973-4816</li>
            <li><strong>Facebook:</strong> <a href="https://www.facebook.com/PauleanMargueretteParrish" target="_blank">Paulean Marguerette Parrish</a></li>
        </ul>

        <img src="/static/contact-me-call-me.img.gif" alt="My Image" class="my-image">

    <div class="back-button-container">
        <a href="http://127.0.0.1:5000/" class="button back-button">Back to Homepage</a>
    </div>
</body>
</html>
